{% extends 'base.html' %}
{% block body %}

<div class="row">
    <h4 class="center blue-text">Cadastro de Auto de Regularização</h4>
    <form action="{% url 'cadastra_auto' %}" method="post">
        {% csrf_token %}
        <!-- Número do Auto -->
        <div class="col s12 row">
            <div class="input-field col s2">
                <input name="num_auto" id="num_auto" type="number" min=0 class="validate">
                <label for="num_auto">Número do Auto</label>
            </div>
            <!-- Ano do Auto -->
            <div class="input-field col s2">
                <input name="ano_auto" id="ano_auto" type="number" min=2000 class="validate">
                <label for="ano_auto">Ano do Auto</label>
            </div>
            <!-- Número do processo -->
            <div class="input-field col s2">
                <input placeholder="Ex.: 10.0123/2017" name="num_processo" id="num_processo" class="validate"
                       data-length="12">
                <label for="num_processo">Número do Processo</label>
            </div>
        </div>
        <!-- Nome do Requerente -->
        <div class="col s12 row">
            <div class="input-field col s12">
                <input name="nome_requerente" id="nome_requerente" class="validate" data-length="100">
                <label for="nome_requerente">Nome do Requerente</label>
            </div>
        </div>
        <!-- logradouro -->
        <div class="col s12 row">
            <div class="input-field col s4">
                <input name="logradouro" id="logradouro" type="text" class="validate" data-length="100">
                <label for="logradouro">Logradouro</label>
            </div>
            <!-- Número do endereço -->
            <div class="input-field col s1">
                <input name="numero" id="numero" class="validate">
                <label for="numero">Número</label>
            </div>
            <!-- Complemento -->
            <div class="input-field col s3">
                <input name="complemento" id="complemento" type="text" class="validate" data-length="100">
                <label for="complemento">Complemento</label>
            </div>
            <!-- Bairro -->
            <div class="input-field col s2">
                <select name="bairro" id="bairro">
                    <option value="Centro" disabled selected>Centro</option>
                    <option value="Vermelha">Vermelha</option>
                    <option value="Cristo Rei">Cristo Rei</option>
                </select>
                <label for="bairro">Bairro</label>
            </div>
            <!-- Cidade -->
            <div class="input-field col s2">
                <select name="cidade" id="cidade">
                    <option value=Teresina"" selected>Teresina</option>
                    <option value="Corrente">Corrente</option>
                    <option value="Floriano">Floriano</option>
                    <option value="Picos">Picos</option>
                </select>
                <label for="cidade">Cidade</label>
            </div>
        </div>
        <!-- Área do Terreno, Área construída e Responsável Técnico -->
        <div class="col s12 row">
            <div class="input-field col s2">
                <input name="area_terreno" id="area_terreno" type="number" min=0 step=0.01 class="validate">
                <label for="area_terreno">Área do Terreno</label>
            </div>
            <!-- Área Construída -->
            <div class="input-field col s2">
                <input name="area_construida" id="area_construida" type="number" min=0 step=0.01 class="validate">
                <label for="area_construida">Área Construída</label>
            </div>
            <!-- Responsável Técnico -->
            <div class="input-field col s2">
                <select name="resp_tecnico" id="resp_tecnico">
                    <option value="" disabled selected>Responsável</option>
                    <option value="1">Fulano</option>
                    <option value="2">Sicrano</option>
                    <option value="3">Beltrano</option>
                </select>
                <label for="resp_tecnico">Responsável Técnico</label>
            </div>
            <!-- Data do Alvará -->
            <div class="input-field col s2">
                <input type="date" class="datepicker" id="data_auto" name="data_auto">
                <label for="data_auto">Data do Auto</label>
            </div>
            <!-- Observações -->
            <div class="input-field col s4">
                <textarea id="observacao" class="materialize-textarea"></textarea>
                <label for="observacao">Observações</label>
            </div>
        </div>

        <!-- Botão submit -->
        <div class="center">
            <button class="btn waves-effect waves-light blue darken-2" type="submit" name="enviar">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}
